<header class="page-header">
  <img id="header_image" src="/assets/img/computest.png"/>

  <div id="header_title">
    <h1>Matchmaker</h1>
    <sub>v0.1</sub>
  </div>
</header>

<div id="content-wrapper">
  <nav>
    <span id="navHead">Navigatie</span>
    <a title="Back" id="navClose"><fa style="color:#ccc;" name="arrow-left"></fa></a>

    <ul>
      <li class="navItem">
        <a><fa name="home" style="color: dodgerblue;"></fa> Home</a>
      </li>
      <li class="navItem">
        <a><fa name="flag-checkered" style="color: lawngreen;"></fa> Toernooien</a>
      </li>
      <li class="navItem">
        <a><fa name="trophy" style="color: yellow;"></fa> Hall Of Fame</a>
      </li>
    </ul>
  </nav>

  <div id="router-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>


